* {
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100vh; /* Adjust the height as needed */
  background: linear-gradient(to bottom, #00bfff, #00f7ff);
}

.fs36 {
  font-size: 36px;
}

.df {
  display: flex;
  align-items: center;
}

.plr20 {
  padding: 0 20px;
}

.ml20 {
  margin-left: 20px;
}

.container {
  display: flex;
  justify-content: center;

  height: 80%;
}

.btn {
  background: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.rateinfo {
  color: #ffffff;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hide-loader {
  display: none;
}
